body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    justify-content: center;

    display: flex;
    margin: 20px;

}

.bg_image {
    background-image: url("pawel-czerwinski-unsplash_bg_image.jpg");
    background-repeat: no-repeat;
    height: 1000px;
    width: 900px;
    color: white;

}

div {
    justify-content: center;
    align-items: center;

}

a:link {
    color: ;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: dotted;
}


#photo_info {
    text-align: center;

}
form {

}